<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934028521853-6853mptn3fi1l82uj61o6tp01jlb9nkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934028521853-6853mptn3fi1l82uj61o6tp01jlb9nkj</string>
	<key>API_KEY</key>
	<string>AIzaSyAtg0n0JrDGV8mV-CjJ3fLCbNGK9w5bOa0</string>
	<key>GCM_SENDER_ID</key>
	<string>934028521853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Andrew-Fokin.ToDoFIRE</string>
	<key>PROJECT_ID</key>
	<string>todofire-ef4ec</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-ef4ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934028521853:ios:fc4057dd97ab0a73ad1c14</string>
</dict>
</plist>